.section {
  width: 100%;
  margin-bottom: 120px;
}

.title {
  font-size: 24px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  gap: 56px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.imageWrapper {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.itemName {
  font-size: 24px;
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .title {
    font-size: 32px;
    letter-spacing: 1.1px;
    margin-bottom: 56px;
  }
  
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 11px;
  }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {
  .section {
    margin-bottom: 160px;
  }
  
  .grid {
    gap: 30px;
  }
}