.section {
  width: 100%;
  padding-top: 120px;
  /* Add extra space before the footer */
  padding-bottom: 120px; 
}

.container {
  width: 100%;
  padding-left: var(--padding-container-mobile);
  padding-right: var(--padding-container-mobile);
  display: flex;
  flex-direction: column; /* Stacked on mobile */
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.imageWrapper {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  text-align: center;
  max-width: 575px; /* Limit text width */
}

.title {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.highlight {
  color: var(--color-brand-raw-sienna);
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .container {
    padding-left: var(--padding-container-tablet);
    padding-right: var(--padding-container-tablet);
    gap: 52px;
  }

  .title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
  }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {
  .container {
    padding-left: var(--padding-container-desktop);
    padding-right: var(--padding-container-desktop);
    max-width: 1440px;
    flex-direction: row-reverse; /* Flip the order! */
    text-align: left;
    gap: 125px;
  }

  .imageWrapper {
    width: 50%;
  }

  .content {
    width: 50%;
    text-align: left;
    max-width: 445px;
  }
  
  .section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}