/* --- Overlay --- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* --- Modal --- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - (var(--padding-container-mobile) * 2));
  max-width: 540px;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 32px;
  z-index: 101;
}

.icon {
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 24px;
}

/* --- Summary Box --- */
.summary {
  width: 100%;
  border-radius: 8px;
  overflow: hidden; /* To clip the corners */
  margin-bottom: 24px;
}

.itemList {
  background-color: var(--color-grey-medium);
  padding: 24px;
}

.firstItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemImage {
  border-radius: 4px;
}

.itemDetails {
  flex-grow: 1;
  margin-right: auto;
}

.itemName {
  font-size: 15px;
  font-weight: 700;
}

.itemPrice {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
}

.itemQuantity {
  font-size: 15px;
  font-weight: 700;
  opacity: 0.5;
  align-self: flex-start;
}

.otherItems {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 12px;
}

.grandTotal {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
}

.totalLabel {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.totalValue {
  font-size: 18px;
  font-weight: 700;
}

/* --- Home Button --- */
.homeButton {
  display: block;
  width: 100%;
  background-color: var(--color-brand-raw-sienna);
  color: var(--color-white);
  border: 1px solid var(--color-brand-raw-sienna);
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.homeButton:hover {
  background-color: var(--color-brand-sandy-brown);
  border-color: var(--color-brand-sandy-brown);
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .modal {
    padding: 48px;
  }
  .title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.1px;
    margin-bottom: 24px;
  }
  .subtitle {
    margin-bottom: 33px;
  }
  .summary {
    display: flex; /* Side-by-side */
    margin-bottom: 46px;
  }
  .itemList {
    width: 60%;
    padding: 24px 12px 24px 24px;
  }
  .grandTotal {
    width: 40%;
    padding: 24px;
    justify-content: center;
  }
}