.card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stacked on mobile */
  gap: 32px;
  margin-bottom: 88px;
}

.imageWrapper {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  text-align: left;
}

.overline {
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--color-brand-raw-sienna);
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 24px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  margin-bottom: 30px;
}

.addToCartWrapper {
  display: flex;
  gap: 16px;
  width: 100%;
}

.quantitySelector {
  background-color: var(--color-grey-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 120px;
  flex-shrink: 0;
}

.quantitySelector button {
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.25;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 10px; /* Easier to click */
}

.quantitySelector button:hover {
  opacity: 1;
  color: var(--color-brand-raw-sienna);
}

.quantitySelector span {
  font-size: 13px;
  font-weight: 700;
}

.cartButton {
  /* Use styles from our Button component */
  background-color: var(--color-brand-raw-sienna);
  color: var(--color-white);
  border: 1px solid var(--color-brand-raw-sienna);
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.cartButton:hover {
  background-color: var(--color-brand-sandy-brown);
  border-color: var(--color-brand-sandy-brown);
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .card {
    flex-direction: row;
    gap: 70px;
    align-items: center;
  }
  .imageWrapper {
    width: 40%;
    flex-shrink: 0;
  }
  .content {
    width: 60%;
  }
  .title {
    font-size: 40px;
  }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {
  .card {
    gap: 125px;
  }
  .imageWrapper {
    width: 50%;
  }
  .content {
    width: 50%;
  }
}