.goBackLink {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--color-black);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.goBackLink:hover {
  color: var(--color-brand-raw-sienna);
  opacity: 1;
}