.card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stacked on mobile */
  align-items: center;
  gap: 32px;
  margin-bottom: 120px;
}

.imageWrapper {
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  text-align: center;
  max-width: 575px;
}

.overline {
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--color-brand-raw-sienna);
  margin-bottom: 24px;
}

.title {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 24px;
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .card {
    gap: 52px;
  }
  
  .title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
  }

  .description {
    margin-bottom: 40px;
  }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {
  .card {
    flex-direction: row; /* Side-by-side */
    gap: 125px;
    margin-bottom: 160px;
    text-align: left;
  }

  .imageWrapper {
    width: 50%;
  }

  .content {
    width: 50%;
    text-align: left;
    max-width: 445px;
  }
  
  /* This class flips the order for even-numbered cards */
  .card.reversed {
    flex-direction: row-reverse;
  }
}