.header {
  background-color: var(--color-black-light);
  color: var(--color-white);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 64px; /* Space below header */
}

.title {
  font-size: 28px;
  letter-spacing: 2px;
}

/* --- Tablet Styles --- */
@media (min-width: 768px) {
  .header {
    height: 240px;
    margin-bottom: 120px;
  }
  .title {
    font-size: 40px;
    letter-spacing: 1.4px;
  }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {
  .header {
    margin-bottom: 160px;
  }
}
